@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin, Supervisor, Student")]
@inject HttpClient _http

<PageTitle>Landing Page</PageTitle>

<div class="ProjectContainer">

    <div class="ProjectList">
    <h1>Projects</h1>
        @if (!_loaded)
        {
            <p>Loading...</p>
        }
        else if (!_projects.Any())
        {
            <p>No results</p>
        }
        else
        {
            @foreach (ProjectDTO p in _projects)
            {
                <div class="ProjectEntry">
                    <a href="index/@p.Id">
                        <h2>@p.Id: @p.Name</h2>
                        <p style="text-align: right">@string.Join(", ", p.Tags.Select(t => t.Value))</p> 
                    </a>
                </div>
            }
        }
    </div>
    <div class="FilterContainer">
        <h1>Filter</h1>
        <div class="TagFilter">
            @if (!_tagGroups.Any())
            {
                <p>Loading Filter...</p>
            }
            else
            {
                @foreach (TagGroupDTO tg in _tagGroups)
                {
                    <RadzenFieldset AllowCollapse="true" Collapsed="true" class="TagFieldSet">
                        <HeaderTemplate>
                            <span style="vertical-align: middle">
                                <b class="TagFieldTitle">@tg.Name.ToUpper()</b>
                            </span>
                        </HeaderTemplate>
                        <ChildContent>
                            @if (tg.TagDTOs.Count() <= 8)
                            {
                                <RadzenCheckBoxList @bind-Value=@_selectedTagsOfTagGroup[tg.Id] TValue="int" Orientation="Radzen.Orientation.Vertical" Change=@ApplyFilter>
                                    <Items>
                                        @foreach (var t in tg.TagDTOs)
                                        {
                                            <RadzenCheckBoxListItem Text=@t.Value Value=@t.Id />
                                        }
                                    </Items>
                                </RadzenCheckBoxList>
                            }
                            else
                            {
                                <RadzenDropDown AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            @bind-Value=@_selectedTagsOfTagGroup[tg.Id] Multiple="true" Placeholder="Select..."
                                            Data=@tg.TagDTOs TextProperty="Name" ValueProperty="Id" style="width: 100%;" Change=@ApplyFilter />
                            }
                        </ChildContent>
                    </RadzenFieldset>
                }
                <p>Selected tag IDs: @string.Join(", ", SelectedTags)</p>
            }
        </div>
    </div>
</div>


@code {
    private IEnumerable<ProjectDTO> _projects = new List<ProjectDTO>();
    private IEnumerable<TagGroupDTO> _tagGroups = new List<TagGroupDTO>();
    private Dictionary<int, IEnumerable<int>> _selectedTagsOfTagGroup = new Dictionary<int, IEnumerable<int>>();
    // All selected tags, across all TagGroups.
    private IEnumerable<int> SelectedTags => _selectedTagsOfTagGroup.Aggregate(
        new HashSet<int>(),
        (collection, item) => collection.Concat(item.Value).ToHashSet()
    );

    private bool _loaded = false;

    protected override async Task OnInitializedAsync()
    {
        /*_projects = await _http.GetFromJsonAsync<ProjectDTO[]>($"api/Project/"); //Lav rigtigt API kald når det er med ProjectBankContext
        _tagGroups = await _http.GetFromJsonAsync<TagGroupDTO[]>($"api/TagGroup/"); //Lav rigtigt API kald når det er med ProjectBankContext

        if (_tagGroups != null) //TODO Ændre til at håndtere response hvis det er det vi går med - skal også ændres oppe i api kaldet
        {
            // Create a set of empty "selected" ids for each tag group.
            foreach (var tg in _tagGroups)
                _selectedTagsOfTagGroup.Add(tg.Id, new List<int>());
        }*/

    }

    private async Task ApplyFilter()
    {
        //Kode som sender API kald videre - Vi mangler API som kan håndtere Tag IDs
        Console.WriteLine("Current tags: " + string.Join(", ", SelectedTags));
    }
}
