@page "/"
@inject HttpClient _http

<PageTitle>Landing Page</PageTitle>

<div class="projectContainer">
    <div class="row" style="margin-bottom: 20px">
        <div class="col-md-3 align-right">
            <h1 class="landingPageTitle">Filter</h1>
            <div class="tagFilterContainer">
                @if (!_tagGroups.Any())
                {
                    <p>Loading Filters...</p>
                }
                else
                {
                    @foreach (var tg in _tagGroups)
                    {
                        <RadzenFieldset AllowCollapse="true" Collapsed="true" class="tagFieldSet">
                            <HeaderTemplate>
                                <b class="tagFieldTitle">@tg.Name.ToUpper()</b>
                            </HeaderTemplate>
                            <ChildContent>
                                @if (tg.TagDTOs.Count() <= 8)
                                {
                                    <RadzenCheckBoxList class="checkBoxList"
                                                        @bind-Value=@_selectedTagsOfTagGroup[tg.Id]
                                                        TValue="int" Orientation="Radzen.Orientation.Vertical"
                                                        Change=@ApplyFilter>
                                        <Items>
                                            @foreach (var t in tg.TagDTOs)
                                            {
                                                <RadzenCheckBoxListItem Text=@t.Value Value=@t.Id/>
                                            }
                                        </Items>
                                    </RadzenCheckBoxList>
                                }
                                else
                                {
                                    <RadzenDropDown AllowFiltering="true"
                                                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                                    @bind-Value=@_selectedTagsOfTagGroup[tg.Id]
                                                    Multiple="true" Placeholder="Select..."
                                                    Data=@tg.TagDTOs TextProperty="Name"
                                                    ValueProperty="Id" style="width: 100%;"
                                                    Change=@ApplyFilter/>
                                }
                            </ChildContent>
                        </RadzenFieldset>
                    }
                }
            </div>

        </div>
        <div class="col">
            <h1 class="landingPageTitle">Projects</h1>
            <div class="projectList">
                @if (!_projects.Any())
                {
                    <p>Loading projects...</p>
                }
                else
                {
                    <RadzenDataList class="projectCardsFlex" WrapItems="true" AllowPaging="true" Data="@_projects" TItem="ProjectDTO">
                        <Template Context="project">
                            <RadzenCard Style="width:300px; margin: 0;">
                                <a href="index/@project.Id">
                                    <div class="projectEntryContent">
                                        <h4 class="mb-0 projectName">@project.Name</h4>
                                        <p class="matchingTags">"need to implement function that shows matching tags"</p>
                                    </div>
                                </a>
                            </RadzenCard>
                        </Template>
                    </RadzenDataList>
                    <RadzenPager class="landingPagePager" ShowPagingSummary="true" PagingSummaryFormat="@_pagingSummaryFormat" Count="@_count" PageSize="@_pageSize" PageChanged="@GetProjects"/>
                }
            </div>
        </div>
    </div>
</div>


@code {
    // todo: implement function that shows the matching tags based on the selected tags

    string _pagingSummaryFormat = "Displaying page {0} of {1} (total {2} projects)";
    int _pageSize = 10;
    int _count;

    private IEnumerable<ProjectDTO> _projects = new List<ProjectDTO>();
    private IEnumerable<TagGroupDTO> _tagGroups = new List<TagGroupDTO>();
    private Dictionary<int, IEnumerable<int>> _selectedTagsOfTagGroup = new();
    // All selected tags, across all TagGroups...
    private HashSet<int> SelectedTags => _selectedTagsOfTagGroup.Aggregate( // ikke sikker på hvad den her er til
        new HashSet<int>(),
        (collection, item) => collection.Concat(item.Value).ToHashSet()
        );

    protected override async Task OnInitializedAsync()
    {
        var initialProjects = await _http.GetFromJsonAsync<IEnumerable<ProjectDTO>>("api/Project");
        _projects = initialProjects != null ? initialProjects.Skip(0).Take(_pageSize).ToList() : new List<ProjectDTO>();
        _count = _projects.Count();

    // Create a set of empty "selected" ids for each tag group.
        foreach (var tg in _tagGroups)
            _selectedTagsOfTagGroup.Add(tg.Id, new List<int>());
    }

    async Task<IEnumerable<ProjectDTO>> GetProjects(PagerEventArgs args)
    {
        var test = await _http.GetFromJsonAsync<IEnumerable<ProjectDTO>>("api/Project");
        return test != null ? test.Skip(args.Skip).Take(args.Top).ToList() : new List<ProjectDTO>();
    }

    async Task ApplyFilter()
    {
    // todo: call API to get projects based on edited filters – skal vi vente til de trykker på en apply knap???
        Console.WriteLine("Current tags: " + String.Join(", ", SelectedTags));
    }

}