@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin, Supervisor, Student")]
@inject HttpClient _http
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<PageTitle>Landing Page</PageTitle>

<div class="ProjectContainer">

    <div class="ProjectList">
    <h1>Projects</h1>
        @if (!_loaded)
        {
            <p>Loading...</p>
        }
        else if (!_projects.Any())
        {
            <p>No results</p>
        }
        else
        {
            @foreach (var p in _projects)
            {
                <div class="ProjectEntry">
                    <a href="index/@p.Id">
                        <h2>@p.Id: @p.Name</h2>
                        <p style="text-align: right">@String.Join(", ", p.Tags.Select(t => t.Value))</p>
                    </a>
                </div>
            }
        }
    </div>
    <div class="FilterContainer">
        <h1>Filter</h1>
        <div class="TagFilter">
            @if (!_tagGroups.Any())
            {
                <p>Loading Filter...</p>
            }
            else
            {
                @foreach (var tg in _tagGroups)
                {
                    <RadzenFieldset AllowCollapse="true" Collapsed="true" class="TagFieldSet">
                        <HeaderTemplate>
                            <span style="vertical-align: middle">
                                <b class="TagFieldTitle">@tg.Name.ToUpper()</b>
                            </span>
                        </HeaderTemplate>
                        <ChildContent>
                            @if (tg.Tags.Count() <= 8)
                            {
                                <RadzenCheckBoxList @bind-Value=@_selectedTagsOfTagGroup[tg.Id] TValue="int" Orientation="Radzen.Orientation.Vertical" Change=@ApplyFilter>
                                    <Items>
                                        @foreach (var t in tg.Tags)
                                        {
                                            <RadzenCheckBoxListItem Text=@t.Name Value=@t.Id />
                                        }
                                    </Items>
                                </RadzenCheckBoxList>
                            }
                            else
                            {
                                <RadzenDropDown AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            @bind-Value=@_selectedTagsOfTagGroup[tg.Id] Multiple="true" Placeholder="Select..."
                                            Data=@tg.Tags TextProperty="Name" ValueProperty="Id" style="width: 100%;" Change=@ApplyFilter />
                            }
                        </ChildContent>
                    </RadzenFieldset>
                }
                <p>Selected tag IDs: @string.Join(", ", SelectedTags)</p>
            }
        </div>
    </div>
</div>


@code {
    private IEnumerable<ProjectDTO> _projects = new List<ProjectDTO>();
    private IEnumerable<TagGroup> _tagGroups = new List<TagGroup>();
    private Dictionary<int, IEnumerable<int>> _selectedTagsOfTagGroup = new Dictionary<int, IEnumerable<int>>();
    // All selected tags, across all TagGroups.
    private IEnumerable<int> SelectedTags => _selectedTagsOfTagGroup.Aggregate(
        new HashSet<int>(),
        (collection, item) => collection.Concat(item.Value).ToHashSet()
    );

    private bool _loaded = false;

    protected override async Task OnInitializedAsync()
    {

        //Projects = Project.SampleProjects; //Lav rigtigt API kald når det er med ProjectBankContext
        _projects = await _http.GetFromJsonAsync<IReadOnlyCollection<ProjectDTO>>(
            "api/Project?" + string.Join("&", SelectedTags.Select(t => $"tagIds={t}")));
        _tagGroups = TagGroup.SampleTagGroups; //Lav rigtigt API kald når det er med ProjectBankContext

        // Create a set of empty "selected" ids for each tag group.
        foreach (var tg in _tagGroups)
            _selectedTagsOfTagGroup.Add(tg.Id, new List<int>());
        
        _loaded = true;
    }

    private async Task ApplyFilter()
    {
        //Kode som sender API kald videre - Vi mangler API som kan håndtere Tag IDs
        _projects = await _http.GetFromJsonAsync<IReadOnlyCollection<ProjectDTO>>(
            "api/Project?" + string.Join("&", SelectedTags.Select(t => $"tagIds={t}")));
    }
}
