@page "/index"

<style>
    .ProjectContainer {
        margin-right: 15%;
    }
    .ProjectList {
        float: right;
        width: 71%;
        height: 85%;
        background-color: red;
        border: 2px solid lightgrey;
        border-radius: 8px;
        padding: 1.2%;
    }
    .ProjectEntry {
        width: 100%;
        background-color: #CCCCCC;
        border-radius: 18px;
        padding: 1;
        padding-right: 3%;
        padding-left: 3%;
    }
    .FilterContainer {
        float: left;
        position: absolute;
        width: 18.5%;
        bottom: 50px;
        top: 75px;
        background-color: blue;
        border: 2px solid lightgrey;
        border-radius: 8px;
        padding: 1.2%;
    }
    .TagFilter {
        border: solid 2px lightgrey;
        border-radius: 8px;
        height: 92%;
        padding: 1.8%;
    }
    .TagField {
        margin-bottom: 10px;
        padding-bottom: 5px;
        border-radius: 10px;
    }
    .TagFieldTitle {
        font-size: 30px;
    }
</style>

<PageTitle>Landing Page</PageTitle>

<div class="ProjectContainer">

    <div class="ProjectList">
    <h1>Projects</h1>
        @if (Projects.Count() == 0)
        {
            <p>Loading projects...</p>
        }
        else
        {
            @foreach (Project p in Projects)
            {
                <div class="ProjectEntry">
                    <a href="index/@p.Id">
                        <h2>@p.Id: @p.Name</h2>
                        <p style="text-align: right">@p.TagString()</p>
                    </a>
                </div>
            }
        }
    </div>
    <div class="FilterContainer">
        <h1>Filter</h1>
        <div class="TagFilter">
            @if (TagGroups.Count() == 0)
            {
                <p>Loading Filter...</p>
            }
            else
            {
                @foreach (TagGroup tg in TagGroups)
                {
                    <RadzenFieldset AllowCollapse="true" Collapsed="true" class="TagField">
                        <HeaderTemplate>
                            <span style="vertical-align: middle">
                                <b class="TagFieldTitle">@tg.Name.ToUpper()</b>
                            </span>
                        </HeaderTemplate>
                        <ChildContent>
                            @if (tg.Tags.Count() <= 8)
                            {
                                <RadzenCheckBoxList @bind-Value=@SelectedTagsOfTagGroup[tg.Id] TValue="int" Orientation="Orientation.Vertical" Change=@ApplyFilter>
                                    <Items>
                                        @foreach (Tag t in tg.Tags)
                                        {
                                            <RadzenCheckBoxListItem Text=@t.Name Value=@t.Id />
                                        }
                                    </Items>
                                </RadzenCheckBoxList>
                            }
                            else
                            {
                                <RadzenDropDown AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                                            @bind-Value=@SelectedTagsOfTagGroup[tg.Id] Multiple="true" Placeholder="Select..."
                                            Data=@tg.Tags TextProperty="Name" ValueProperty="Id" style="width: 100%;" Change=@ApplyFilter />
                            }
                        </ChildContent>
                    </RadzenFieldset>
                }
                <p>Selected tag IDs: @String.Join(", ", SelectedTags)</p>
            }
        </div>
    </div>
</div>


@code {
    private IEnumerable<Project> Projects = new List<Project>();
    private IEnumerable<TagGroup> TagGroups = new List<TagGroup>();
    private Dictionary<int, IEnumerable<int>> SelectedTagsOfTagGroup = new Dictionary<int, IEnumerable<int>>();
    private IEnumerable<int> SelectedTags
    {
        // Loops over SelectedTagsOfTagGroup and returns all selected tag ids.
        get => SelectedTagsOfTagGroup.Aggregate(
            new List<int>(),
            (collection, item) =>
            {
                collection.AddRange(item.Value);
                return collection;
            }
        );
    }

    protected override async Task OnInitializedAsync()
    {
        Projects = Project.SampleProjects;
        TagGroups = TagGroup.SampleTagGroups;

        // Create a set of empty "selected" ids for each tag group.
        foreach (TagGroup tg in TagGroups)
            SelectedTagsOfTagGroup.Add(tg.Id, new List<int>());
    }

    protected async Task ApplyFilter()
    {
        Console.WriteLine("Current tags: " + String.Join(", ", SelectedTags));
    }
}
